.b-task {
  max-width: 600px;
  margin: auto;
  text-align: left;

  &__desktop {
    min-height: 200px;
    padding: 0 15px;
    border: 5px double;
  }

  &__success {
    margin-top: 15px;
    text-align: right;
    color: $color-green;
    font-weight: bold;
  }
}

h2,
p {
  font-weight: normal;
}
